{
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "vue",
    "html"
  ],
  "rules": {
    "generator-star-spacing": "off",
    "no-debugger": 0,
    "no-console": 0,
    "no-unused-vars": 0,
    "space-before-function-paren": 0,
    "indent": 0,
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "object-shorthand": ["error", "always"],
    "semi": [
      2,
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ]
  }
}

