.DS_Store
node_modules/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
/var/transfer
/VERSION
/ITERATION
/idea
/data
# Editor directories and files
# recommendation from intellij
**/.idea/workspace.xml
**/.idea/dictionaries/*.xml
**/.idea/tasks.xml
# those files contain information about the local interpreter, which is not a shared thing
**/.idea/*.iml
**/.idea/misc.xml
.idea/codeStyles/
.idea/dbnavigator.xml
**/.idea
/coverage

**/ITERATION

**/.venv

.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
